header {
  font-size: 1.2rem;
}

header {
  .logo {
    height: 50px;
  }

  .nav-item {
    position: relative;
    .shopping {
      display: inline !important;
      .shopping-amount {
        min-width: 22px;
        height: 22px;
        top: 2px;
        right: -2px;
        position: absolute;
        color: #fff;
        line-height: 24.8px;
        text-align: center;
        border-radius: 16px;
        background-color: #3e5962;
        font-family: Lato !important;
        font-size: 14.2px;
        font-weight: bold;
        display: inline;
        content: "0";
      }
    }
  }
}

.form-control,
.btn {
  font-size: 1.1rem;
}

.home {
  .name-page {
    position: absolute;
    top: 0;
    left: 20px;
    padding-top: 1.25rem;
    z-index: 2;
    li.active {
      color: #42464a;
    }
  }

  .title {
    border-bottom: 4px solid #de3242;
    display: inline-block;
    h2 {
      font-size: 30px;
      span {
        color: #de3242;
      }
    }
  }

  .card {
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    .card-img {
      position: relative;
      img {
        width: 100%;
        height: 200px;
        object-fit: contain;
      }

      .quick-add {
        position: absolute;
        width: 100%;
        background: #fff;
        bottom: 0;
        display: none;
        a {
          text-decoration: none;
          display: block;
          text-align: center;
          padding: 4px;
          color: #3d6bb5;
          font-weight: bold;
          text-transform: uppercase;
          border: 2px solid #3d6bb5;
          margin: 10px;
        }
      }

      &:hover .quick-add {
        display: block;
        animation: quickAdd ease-in-out 0.4s;
      }
    }
  }

  .home-background {
    img {
      width: 100%;
      max-height: 700px;
      object-fit: cover;
    }
  }
}

@media (min-width: 1200px) {
  .home-background {
    img {
      height: 700px;
    }
  }
}

@keyframes quickAdd {
  from {
    bottom: -35px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
