body {
  font-size: 1.1rem;
}

header {
  .logo {
    height: 40px;
  }
}

.home {
  .title {
    text-align: center;

    h2 {
      font-size: 35px;
      span {
        color: #fff;
      }
    }
  }
}
