body {
  font-size: 1.1rem;
}

header {
  .logo {
    height: 40px;
  }
}

.home {
  .name-page {
    margin-left: 20px;
  }

  .title {
    text-align: center;

    h2 {
      font-size: 35px;
      span {
        color: #de3242;
      }
    }

    h5 {
      color: #7b7b7b;
    }
  }

  .home-background {
    img {
      height: 600px;
      object-fit: cover;
    }
  }
}
